<!DOCTYPE html>
<html>
    <head>
        <title>Sinatra App</title>
        <script type="text/javascript" src="../javascripts/jx.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <script type="text/javascript" src="../javascripts/home.js"></script>
    </head>
    <body>
        <main>
            <!--<pre>-->
                <code class="prettyprint" id="marker">
                </code>
                <!--</pre>-->
        </main>
    </body>
</html>